.Rproj.user
.Rhistory
.RData
.DS_Store
_book
csas-style
knitr-cache-docx
knitr-cache-pdf
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf
reference-materials
models*
techreport.Rmd
techreport.tex
*.aux
*.jpg
*.html
*.knit.md
*.log
*.pdf
*.rda
*.rds
*.sty
*.upa
*.utf8.md
*.yaml
*.laccdb
*.accdb
cwt-report/
ream_output/
